streamlit>=1.41.0
mysql-connector-python>=9.1.0 # For MySQL database connectivity (if using MySQL)
pymysql>=1.1.1                # Alternative MySQL connector (optional)
requests>=2.32.3              # For handling HTTP requests (if needed for authentication)
pandas>=2.2.3                 # For data manipulation (often used with Streamlit apps)
numpy>=2.2.0                  # For numerical operations (optional, if needed)
python-dotenv>=1.0.1          # For keeping / getting Database Credentials in .env
matplotlib>=3.10.0
random
